<div class="center">r2c1</div>

<div class="wrapper">
  <button *ngIf= "editMode == false" (click)="addStudent()" class="right addButton btn btn-success">Add Student</button>
  <button *ngIf= "editMode == true"(click)="saveStudent()"class="left btn btn-default">Save</button>
  <table class="table-one">
    <thead>
      <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Course ID</td>
      </tr>
    </thead>
    <tbody *ngIf= "editMode == false">
      <tr *ngFor="let student of students; let i = index;">
        <td>{{student.id}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.course}}</td>
        <td><button (click)="removeStudent(i)" class="right btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
    <tbody *ngIf= "editMode == true">
        <tr *ngFor="let student of students; let i = index" [ngClass]="{'new-form': student.id == null}">
          <td><input [(ngModel)]="student.id" type="text" class="form-control" placeholder="ID"></td>
          <td><input [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="First Name"></td>
          <td><input [(ngModel)]="student.lastName" type="text" class="form-control" placeholder="Last Name"></td>
          <td><input [(ngModel)]="student.course" type="text" class="form-control" placeholder="Course"></td>
        </tr>
      </tbody>
  </table>
</div>

<div class="center">r2c3</div>